.dropdown {
  @apply relative inline-flex h-full;
  &__trigger {
    @apply w-full h-full inline-flex items-center cursor-pointer;
  }
  &__content {
    @apply
    z-20
    bg-white
    dark:bg-gray-700
    shadow-md
    dark:shadow-lg
    rounded-lg
    p-2
    border
    border-gray-200
    dark:border-gray-600
    ;
  }
  &__menu{
    @apply flex flex-col w-full;
    li{
      @apply w-full flex gap-2 items-center hover:bg-gray-200 dark:hover:bg-gray-600 p-1 pr-3 rounded-md cursor-pointer dark:text-white;
      .ui-icon{
        @apply text-xl flex-shrink-0 w-5 h-5 dark:stroke-white;
      }
    }
  }
}