.modal{
  @apply fixed w-full h-full top-0 left-0 z-20 flex justify-end overflow-hidden transition;
  &.v-enter-active{
    .modal__wrapper{
      animation: 150ms fadeIn forwards;
    }
    .modal__body{
      animation: 150ms slideInRight forwards;
    }
  }
  &.v-leave-active{
    .modal__wrapper{
      animation: 0.3s fadeOut;
    }
    .modal__body{
      animation: 0.3s slideOutRight;
    }
  }
  &__wrapper{
    @apply bg-primary-600/40 absolute top-0 left-0 w-full h-full;
  }
  &__body{
    @apply flex flex-col h-full bg-white dark:bg-gray-600 dark:text-gray-100 w-[406px] px-4 py-6 relative overflow-auto;
  }
  &__head{
    @apply border-b-[3px] border-[#EAECF0] dark:border-gray-500 pb-6 relative -mx-4 px-4;
    h2{
      @apply text-lg font-semibold mb-1;
    }
    p{
      @apply text-sm;
    }
    .ui-icon{
      @apply w-5 h-5 absolute top-0 right-4 cursor-pointer;
    }
  }
  &__card{
    @apply bg-gray-50 p-4 rounded-xl hover:bg-gray-100 transition mb-2 dark:bg-gray-500;
  }
  &__actions{
    @apply flex flex-row gap-4;
    .ui-button{
      @apply py-1 px-2 h-6 border-none text-xs text-gray-700 hover:bg-gray-200 dark:text-gray-200 dark:hover:bg-gray-600;
      .ui-icon{
        @apply w-4 h-4;
      }
    }
  }
  &__content{
    @apply py-6 dark:border-gray-500;
  }
  &__footer{
    @apply flex flex-col gap-4 pt-6 mt-auto;
  }
}


