@import '@vueform/multiselect/themes/default.css';
.ui-multiselect{
  @apply flex flex-col gap-1.5;
  label{
    @apply text-xs font-semibold text-gray-500 dark:text-gray-300 block text-left;
  }
}
.multiselect{
  @apply rounded-lg text-gray-700;

  &.is-active {
    @apply shadow-none;
  }
  &.is-open {
    @apply rounded-lg;
  }
  &-tag{
    @apply bg-transparent text-gray-700 rounded-2xl border border-gray-700 font-medium;

    &.is-disabled {
      padding-right: var(--ms-tag-px, 0.5rem);
      background: var(--ms-tag-bg-disabled, #9CA3AF);
      color: var(--ms-tag-color-disabled, #FFFFFF);
    }
  }
  &-tag-remove-icon{
    @apply text-gray-700;
  }
  &-option,
  &-group-label{
    @apply text-gray-800 flex items-center gap-3;
    &.is-selected {
      @apply bg-gray-100 text-gray-800;
    }

    &.is-selected.is-pointed {
      @apply bg-gray-100 text-gray-800;
    }

    &.is-selected.is-disabled {
      @apply bg-primary-700/30;
    }
    .ui-icon{
      @apply w-5 h-5;
    }
  }
  &-wrapper{
    @apply rounded-lg overflow-hidden;
  }
  &-dropdown{
    @apply rounded-lg overflow-auto
  }
  &-caret{
    mask-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%23667085' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  &-placeholder{
    @apply whitespace-nowrap;
  }
}