POSTGRES_DB=DB_NAME
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1
DJANGO_CORS_ORIGIN_WHITELIST=http://localhost:3000
DJANGO_SECRET_KEY=ABCD

RABBIT_MQ_HOST=MQ_HOST
RABBIT_MQ_PORT=8097
RABBIT_TYPE=rabbitMQ
RABBIT_LOGIN=LOGIN
RABBIT_PASSWORD=PASSWORD
