# Python
*.pyc
__pycache__/
.venv/
venv/

# Django
/static/
media/
uploads/
files/
data/
*.sqlite3
*.db
*.csv

# Secrets
.env
config/settings_dev.py
config/settings_prod.py

# Tests
pytest.ini

# Project specific
/services_*
vandelay-py.js
mqtt_logs/
celerybeat-schedule
