# DB only Postgresql
POSTGRES_DB=grms
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# BACKEND
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=yourdomain.com www.yourdomain.com
DJANGO_CORS_ORIGIN_WHITELIST=https://yourdomain.com
DJANGO_SECRET_KEY=your_django_secret_key_min_50_chars

# Redis
CELERY_BROKER_URL=redis://redis:6379/0
CHANNEL_LAYERS_HOST=redis
REDIS_HOST=redis
CACHE_LOCATION=redis://redis:6379/1

# RabbitMQ connection from django
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_TYPE=rabbitMQ
RABBIT_LOGIN=your_rabbit_user
RABBIT_PASSWORD=your_rabbit_password

# RabbitMQ configs
RABBITMQ_DEFAULT_USER=your_rabbit_user
RABBITMQ_DEFAULT_PASS=your_rabbit_password
RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbit log_levels [{connection,error},{default,error}] disk_free_limit 2147483648

# Email setup
EMAIL_HOST=smtp.youremailprovider.com
EMAIL_PORT=587
EMAIL_HOST_USER=noreply@yourdomain.com
EMAIL_HOST_PASSWORD=your_email_password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=noreply@yourdomain.com
COMPANY_NAME=YourCompanyName
FRONTEND_HOST=https://yourdomain.com
FRONTEND_PORT=443

# FRONTEND
VITE_API_BASE_URL=https://yourdomain.com/api/v1
VITE_WS_BASE_URL=wss://yourdomain.com/api/ws/

# WEBRTC
WEBRTC_BROKER_URL=https://webrtc.yourdomain.com

# White list
export HOTEZA_WHITELIST=127.0.0.1 your_server_ip