.guest-list{
  .ui-table__container{
    @apply border-0;
    thead{
      @apply hidden
    }
    td{
      @apply px-0;
    }
    tr{
      @apply dark:bg-transparent bg-transparent;
    }
    tr:first-child{
      td {
        @apply pt-0;
      }
    }
    tr:last-child{
      td {
        @apply pb-0;
      }
    }
    tr:hover{
      @apply bg-transparent dark:bg-transparent;
    }
  }
}